<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="footer-manu">
					<ul>
            {{ range site.Menus.footer }}
            <li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
            {{ end }}
					</ul>
				<img src="{{ site.Params.recsports }}" alt="Logo" style="width:50px;">
				</div>
				<p class="copyright">{{ site.Params.copyright | markdownify }}</p>
			</div>
		</div>
	</div>
</footer>

<!-- JS Plugins -->
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

<!-- Main Script -->
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>