{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index site.Data site.Language.Lang }}

{{ if $data.officers.officers.enable }}
{{ with $data.officers.officers }}
<section class="officer-table section bg-gray">
  <div class="container">
    <div class="row">
      <!-- single officer table -->
      {{ range .data_table }}
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="officer-item text-center">
          <div class="officer-title">
            <h3>{{ .name }}</h3>
            <img src={{ .image | absURL }} style="width:300px">
            <p>{{ .content | markdownify }}</p>
          </div>
          <ul>
            {{ range .facts }}
            <li>{{ . | markdownify }}</li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ end }}
      <!-- end single officer table -->
    </div>
  </div>
</section>
{{ end }}

{{ with $data.officers.officers }}
<div class="container">
<h2>Former Officers</h2>
{{ range .former_officers }}
  <h3>{{ .year }}</h3>
  <p>{{ .people }}</p>

{{ end }}
{{ end }}
</div>

{{ end }}
{{ end }}